[mysqld]
user=ny-araza
basedir=$HOME/goinfre/mysql
datadir=/home/ny-araza/goinfre/mysql/data
socket=/home/ny-araza/goinfre/mysql/mysql.sock
port=3306

[client]
socket=/home/ny-araza/goinfre/mysql/mysql.sock
